streamlit
streamlit_mic_recorder
langchain
langchain-community
vertexai
python-dotenv
langchain_google_genai
google-cloud-vision
google-cloud-texttospeech
PyMuPDF
pillow
google-genai
wikipedia
soundfile
oauthlib
langchain-chroma
chromadb
google-cloud-storage
google-cloud-speech
google-auth-oauthlib
google-ai-generativelanguage
duckduckgo_search